*, *::after, *::before {
    box-sizing: border-box;
}

:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body{
    margin: 0;
}

.playingOptionsEntry{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    font-size: 4em;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playingOptionsEntry h2{
    color: white;
}

.board{
    display: none;
    width: 100vw;
    height: 100vh;
    /* display: grid; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n +1){
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.cell.x,
.cell.circle{
    cursor: not-allowed;
}

/* by default content, ie, x or circle is black */
.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}


/* content is lightgrey when you hover (over non used cells) */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before  {
    background-color: lightgrey;
}

/* defining the x */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}
/* end of defining the x */

/* defining the circle */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);  
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}
/* end of defining the circle */

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5em;
    flex-direction: column;
}

.winning-message button,
.playingOptionsEntry button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover,
.playingOptionsEntry button:hover{
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

.board.show{
    display: grid;
}

.playingOptionsEntry.remove{
    display: none;
}

/* responsove design */

@media screen and (max-width: 900px) {
    
    .playingOptionsEntry h2{
        font-size: 50px;
        text-align: center;
    }

    #singlePlayer{
        font-size: 30px;
    }

    #doublePlayer{
        font-size: 30px; 
    }

    #singlePlayerAgain{
        font-size: 30px; 
    }

    #doublePlayerAgain{
        font-size: 30px;
    }
    
    #declareWinnerText{
        font-size: 50px;
    }
}