*{
    margin: 0;
    padding: 0;
}

.bg{
    background-color: rgb(172, 182, 190);
}

#header{
    height: 60px;
    padding-top: 20px;
    background-color: rgb(16, 22, 34);
    color: white;
    text-align: center;
    border-bottom: 2px solid rgb(221, 211, 211);
}

.container{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.container img{
    width: 30%;
}

.instructionsContainer{
    margin-left: 30px;
}

.instructions{
    font-size: 25px;
}

.startPlaying{
    text-align: center;
    font-size: 2em;
}

.startPlaying button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.startPlaying button:hover{
    background-color: black;
    color: white;
    border-color: white;
}